# node modules
node_modules/
# env file
.env
# OSX build
release-builds/
# Linux build
build-a-book-linux-x64/
# Windows build
build-a-book-linux-ia32/
build-a-book-win32-x64/
# Debug 
npm-debug.log
# Distribution folder
dist/